/*selector {
  property: value;
  property: value;
}*/



body {
  font-family: Calibri;
  font-size: 20px;
  text-align: center;
  background: #00A352;
  color: white;
}

h1 {
  font-family: Pacifico, cursive;
  font-weight: normal;
  font-size: 50px;
  color: #f7ff0f;
}

a {
  color: #CCFFCC;
  text-decoration: none;
}

.img img {
  border-radius: 20px;
}

/*.more_info {

}*/